
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    background-color: #F5F8FF;
}

.btn-primary {
    background-color:#4C4CFF;
    color: #FFFFFF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px; 
    font-size: bold;}
    nav {
    display: flex;
 padding: 50px 150px 50px 150px;
    justify-content: space-between;
}
.text-center {
    text-align: center;
}

.nav-title {
    font-weight:900;
    color: #4C4CFF;
    font-size: 34px;
    font-family: 'Inter', sans-serif, 'Raleway';
}

.banner-text{
    font-size: 65px;
    font-weight: 700;
    color: #2A2432;
    text-align: center;
    font-family: 'Raleway';
}
.banner-content{
  
    justify-content: space-around;
    align-items: center;
    padding: 159px 267.5px 152px 267.9px;
    gap: 37px;
}
.header{
    background-image: url(Assets/Hero-bg.png);
}

.action{
    display: flex;
   justify-content: space-evenly;
    padding: 116px 159px 116px 141px;
}
.action-title{
    font-size: 45px;
    color: #252432;
}
.action-text{
    font-size: 24px;
    color:#252432 ;
    opacity: 0.5;
}
.action-img{
    border-radius: 48px;
}
.productive{
    background-color: rgba(78, 71, 255, 0.1);
    padding: 100px 50px;
    text-align: center;
    border-radius: 25px;
    margin: 116px 159px 116px 141px;
     
      
}
.productive-container{
     font-family: 'Inter',sans-serif;
    
   

}

.productive-text1{
    justify-content: center;
     color: #4E47FF; 
     font-size: 80px; 
     font-weight: bold;
      margin: 10px 80px; 
      padding: 0; 
      list-style: none; 
      gap: 200px;
      display: flex;
     
}
.productive-text2{
   color: #000000;
   opacity: 0.5;
   font-size: 24px;
   font-weight: 400;
   margin: 10px 80px; 
   padding: 0;
   list-style: none; 
    justify-content: center; 
    gap: 200px;
    display: flex;
}
.productive-heading{
    margin-bottom: 30px; 
    font-size: 38px;
    font-weight: 700;
}
.review{
    margin: 149px 149px 125px 151px;
    text-align: center;
}
    .review-heading{
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 42px;
        color: #252432;

    }
.review-container{
    
    background-color:rgb(255, 255, 255,0.5 )
;
      padding: 24px;
      border-radius: 24px;

}
.review-cards
{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
    font-family: "Raleway" sans-serif;
}
.review-content{
  margin-top: 24px;
  margin-bottom: 24px;
  flex: 1 1 300px; 
  max-width: 350px;
  text-align: left;

}
.imgs{
    margin-bottom: 30px;
}
.reviewer{
    display: flex;
    align-items: center;
    gap: 12px;
}
.reviewer-name{
    color: #000000;
    opacity: 0.5;
    margin:0;
   
   
}

.reviewer img {
  width: 40px;
  height: 40px;
  border-radius: 999px;
}

.reviewer-name h5 {
  margin: 0; 
}

.reviewer-name time {
  opacity: 0.5;
}
.review-content p{
    font-family: "Inter";
}